asgiref==3.7.2
backoff==2.2.1
beautifulsoup4==4.12.3
bootstrap4==0.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudscraper==1.2.71
colorama==0.4.6
Columnar==1.4.1
cryptography==41.0.5
deckar01-ratelimit==3.0.2
deepl==1.17.0
dj-database-url==2.1.0
Django==5.0.1
django-ckeditor==6.7.1
django-crispy-forms==2.1
django-filter==23.5
django-heroku==0.3.1
django-js-asset==2.2.0
djangorestframework==3.14.0
et-xmlfile==1.1.0
futures==2.2.0
-e git+https://github.com/yeahwhat-mc/goslate@d6d511a9c001fe0b5c1cf947fd650770e9794f1d#egg=goslate
gunicorn==21.2.0
idna==3.6
lxml==5.1.0
Markdown==3.5.2
openpyxl==3.1.2
packaging==23.2
pillow==10.2.0
psycopg2==2.9.9
Py-Dictionary==4.1.4
pycparser==2.21
PyDictionary==1.5.2
pyparsing==3.1.1
pytz==2024.1
requests==2.31.0
requests-toolbelt==1.0.0
soupsieve==2.5
sqlparse @ file:///C:/b/abs_88361ub_qu/croot/sqlparse_1690904577514/work
string-color==1.2.3
toolz==0.12.1
typing_extensions==4.9.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3==2.2.0
wcwidth==0.2.13
whitenoise==6.6.0
windows-curses==2.3.2
wordhoard==1.5.4
